<?xml version="1.0" encoding="utf-8"?>
<!-- This config is only used for automatic deployment to Github Package Registry -->
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="gpr" value="https://nuget.pkg.github.com/NicoVIII/index.json" />
    </packageSources>
</configuration>
