source https://api.nuget.org/v3/index.json

framework: auto-detect

nuget FSharp.Core >= 6.0 lowest_matching: true, redirects: force
nuget NicoVIII.FSharp.Json ~> 0.6.0
nuget FsHttp ~> 9.0

nuget Expecto.FsCheck
