source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0, netstandard2.1, netstandard2.0

nuget FSharp.Core > 4.5 lowest_matching: true, redirects: force
nuget Expecto.FsCheck

nuget NicoVIII.Fsharp.Json ~> 0.5.0
nuget FsHttp ~> 6.0

group Docs
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: symlink

  nuget FSharp.Compiler.Service ~> 35.0
  nuget FSharp.Formatting ~> 4.1
  nuget Newtonsoft.Json
