type project
authors
  NicoVIII
description
  This project aims at providing an interface to use the (unofficial) GOG API from .NET.
copyright
  (c) 2019 NicoVIII
repositoryType
  git
repositoryUrl
  https://github.com/NicoVIII/GogApi.DotNet
tags
  GOG,API,F#
licenseExpression
  MIT
